
.container {
    width: 75%;
    max-width: 1800px;
}

.thumbnail{
    width: 100%;
    min-width: 375px;
    height: 100%;
    padding-right: 100px;
}

.row{
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: #001F23;
}

.prices {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 200px;
    font-size: 25px;
}

.title {
    max-width: 75%;
    float: left;
    line-height: 35px;
}

.subtext {
    font-size: 15px;
}

.total {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.amount {
    float: right;
    color: #275A53;
}

hr{
    border: 1px solid #000000;
}

.center {
    text-align: center;
    font-size: 20px;
}

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reference {
    position: relative;
}


.pay {
    float: right;
    background-color: #275A53;
    color: white;
    width: 250px;
    height: 85px;
    border-radius: 10px;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
}

.button-link:hover{
    text-decoration: none;
}

@media (max-width:576px){
    .pay{
        float: left;
    }
    .center img{
        width: 100%;
    }
}

/*Thumbnail size fix for responsiveness*/
@media (max-width:550px){
    .thumbnail{
        min-width: 100%;
    }
}
/*Bootstrap md breakpoint*/
@media (max-width:768px){
    .thumbnail{
        padding-right: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}